$special-header-color: #f2f2f2;
$special-item-color: black;
$special-item-second-color: white;
$special-item-third-color: #4990e2;
$banner-color: white;
$description-color: black;

$special-dropdown-fontsize: 18px;
$special-item-fontsize: 18px;
$special-background-item-fontsize: 22px;
$special-font-small-fontsize:20px;
$special-font-middle-fontsize:26px;
$special-font-big-fontsize:30px;
$logo-title-font: 18px;
$logo-description-font: 14px;
$link-padding: 0;

$logo-wrap-width: 357px;
