.breadcrumbs__item{
  font-size: $default-second-font;
}

.mce-tooltip-inner {
  font-size: $default-second-font;
}

.ui-datepicker-year{
  font-size: $default-second-font;
}

.dropdown .dropdown__item--radio label, .dropdown__title{
  font-size: $label-font-size;
}

.side-nav .side-nav__page-title{
  font-size: $default-third-font;
}

.side-nav .side-nav__page-description{
  font-size: $default-font-size;
}

.logo__title{
  font-size: $label-font-size;
}

.logo__description{
  font-size: $info-font-size;
}

.nav-menu__item a{
  font-size: $label-font-size;
}

.spec-banner__cab{
  font-size: $spec-cab-font;
}

.spec-banner__search-submit{
  font-size: $spec-cab-font;
}

.spec-banner__search-input{
  font-size: $spec-cab-font;
}

.main-banner__wrap .dropdown.dropdown_spec .dropdown__button{
  font-size: $label-font-size;
}

.main-banner__wrap .dropdown__button .locale{
  font-size: $label-font-size !important;
}

.spec-word{
  font-size: $default-third-font
}

.search-block__input{
  font-size: $default-font-size !important;
}

.gost-form__answer *{
  font-size:$default-font-size !important;
}
